@charset "utf-8";
@media screen {

	* {
		margin: 0;
		padding: 0;
		border: 0;
	}
	html {
		overflow-y: scroll;
	}
	body {
		margin: 0 auto;
		padding: 0 1em 10em;
		width: 456px;
		line-height: 2;
		color: #4e454a;
		background: #f8f8f8;
		font-size: 12px;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, sans-serif;
	}
	a {
		color: #ca4949;
	}
	a:hover {
		text-decoration: none;
	}
	p {
		margin: 1em 0;
	}
	ul {
		margin: 1em 0;
		padding-left: 1.5em;
	}
	li {
		list-style: square;
	}
	li ul {
		margin: 0;
	}
	h1 {
		margin: 48px 0;
		height: 192px;
		color: #ca4949;
		background: url("../img/a.png") center center / 192px 192px no-repeat;
 		font-family: "Times New Roman", serif;
		font-size: 0;
	}
	section {
		padding: 0 1em;
	}
	h2 {
		margin: 2em -0.5em 1em;
		padding: 0 0.5em;
		border-bottom: 1px #ca4949 solid;
		color: #ca4949;
 		font-family: "Times New Roman", serif;
		font-size: 2em;
	}

}