@charset "utf-8";
@media screen {

	* {
		margin: 0;
		padding: 0;
		border: 0;
	}
	html {
		overflow-y: scroll;
		background: url("../img/alumina_960.png") top center / 960px 960px fixed no-repeat;
	}
	body {
		width: 912px;
		margin: 0 auto;
		padding: 0 2em 10em;
		line-height: 2;
		color: #4e454a;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, sans-serif;
		font-size: 12px;
	}
	a {
		color: #ca4949;
	}
	a:hover {
		text-decoration: none;
	}
	p {
		margin: 0 0 1em;
	}
	ul {
		margin: 0 0 1em;
		padding-left: 1.5em;
	}
	li {
		list-style: square;
	}
	li ul {
		margin: 0;
	}
	h1 {
		margin: 1em 24px;
		color: #ca4949;
 		font-family: "Times New Roman", serif;
		font-size: 3em;
	}
	section {
		width: 432px;
		margin: 3em 0;
		padding: 1em 2em;
		border-radius: 8px;
		background: rgba(255,255,255,0.9);
		box-shadow: 0 0 3px 3px rgba(255,255,255,0.9);
	}
	h2 {
		margin: 0 -0.5em;
		padding: 0 0.5em;
		color: #ca4949;
 		font-family: "Times New Roman", serif;
		font-size: 2em;
	}

}